[flake8]

max-line-length = 120

doctests = True

ignore =
	E126, # continuation line over-indented for hanging indent
	E265  # block comment should start with '# '

exclude =
	.git,
	_ffi_pango.py,
	_ffi_xcursors.py

# vim: ft=cfg
