appdirs==1.4.3
cairocffi==0.8.0
cffi==1.10.0
click==6.7
collist==0.5
Cython==0.28.2
enum-compat==0.0.2
i3ipc==1.5.1
netifaces==0.10.7
packaging==16.8
pycparser==2.17
pyparsing==2.2.0
git+https://github.com/whitelynx/pystatgrab.git
python-dateutil==2.7.3
six==1.10.0
uncrumpled_xpybutil==0.0.1
xcffib==0.5.1
xpybutil==0.0.5
